
branches:
  only:
    - stable

sudo: false
matrix:
  include:
    - env: CABALVER=1.22 GHCVER=head
      compiler: ": #GHC head"
      addons: {apt: {packages: [cabal-install-1.22,ghc-head], sources: [hvr-ghc]}}
    - env: CABALVER=1.22 GHCVER=7.10.2
      compiler: ": #GHC 7.10.2"
      addons: {apt: {packages: [cabal-install-1.22,ghc-7.10.2], sources: [hvr-ghc]}}
  allow_failures:
   - env: CABALVER=1.22 GHCVER=head

before_install:
 # - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
 # - travis_retry sudo apt-get update
 # - travis_retry sudo apt-get install cabal-install-$CABALVER ghc-$GHCVER
  - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH
  - cabal --version

install:
  - travis_retry cabal update
  - cabal install --only-dependencies

script:
  - cabal configure -v2
  - cabal build
  - cabal check
  - cabal sdist
  - export SRC_TGZ=$(cabal info . | awk '{print $2 ".tar.gz";exit}') ;
    cd dist/;
    if [ -f "$SRC_TGZ" ]; then
       cabal install --force-reinstalls "$SRC_TGZ";
    else
       echo "expected '$SRC_TGZ' not found";
       exit 1;
    fi

notifications:
  slack: jaiyalas:rTERqdvyJZbXGRYxy3SLKAtq
